<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Checkout</title>
  </head>

  <body>
    <h1>Checkout</h1>

    <form action="/checkout" method="post">
<<<<<<< HEAD
      <p>Item to Purchase: <input type="text" name="item"></p><br>
      <input type="submit" value="submit"/>
    </form>

=======
      <p>Item to Purchase: <input key= "item" type="text" name="item"></p><br>
      <input type="submit" value="submit"/>
    </form>
    
>>>>>>> ca7b56b2d9f0a1ec9cb41441abcdbe0cbaae15b3
  </body>
</html>
